<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(50, 50) %></td>
        <td><%= user.name %></td>
        <td class="followed-count-<%= user.id %>"><%= render "relationships/followed_count", user: user %></td>
        <td class="follower-count-<%= user.id %>"><%= render "relationships/follower_count", user: user %></td>
        <td class="follow-btn-<%= user.id %>"><%= render "relationships/follow_btn", user: user, info: false %></td>
        <td><%= link_to "Show", user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>