<table class="table">
  <tbody>
    <tr><%= image_tag user.get_profile_image(100, 100) %></tr>
    <tr>
      <th>name</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>introduction</th>
      <td><%= user.introduction %></td>
    </tr>
    <tr>
      <th>follows</th>
      <td><%= link_to user.followings.count, user_followings_path(user) %></td>
    </tr>
      <tr>
      <th>followers</th>
      <td><%= link_to user.followers.count, user_followers_path(user) %></td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="cal">
    <% if current_user != user %>
      <% if current_user.following?(user) %>
        <%= link_to "フォロー外す", user_relationships_path(user.id), class: "btn btn-info", method: :delete %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(user.id), class: "btn btn-success", method: :post %>
      <% end %>
    <% end %>
  </div>&emsp;
  <div class="cal">
    <% if current_user != user %>
      <% if (current_user.following?(user)) && (user.following?(current_user)) %>
        <% if @is_room %>
          <%= link_to "チャットへ", room_path(@room_id), class: "btn btn-primary" %>
        <% else %>
          <%= form_with model: @room do |f| %>
            <%= f.hidden_field :user_id, value: user.id %>
            <%= f.submit "チャットを始める", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% if user.name != "guestuser" %>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
     <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>
</div>