<%= render 'searches/form' %>
<% if @books %>
  <h3>Books search for "<%= @tag.name %>"</h3>
  <%= render 'books/index', books: @books %>
<% elsif @tag == "タグを入力してください" %>
  <h3><%= @tag %></h3>
<% else %>
  <h3>Not Books search for "<%= @tag %>"</h3>
<% end %>