<h2><%= @another_user.name %>さんとのチャット</h2>

<div class="chat-index">
  <%= render 'rooms/index', messages: @messages %>
</div>

<%= form_with model: @message, url: messages_path, method: :post, local: false do |f| %>
  <%= f.text_field :message, class: "chat-textarea" %>
  <%= f.hidden_field :room_id, value: @room.id %>
<% end %>